#gridContainer {
    display: grid;
    width: 600px;
    height: 600px;
    border: 10px solid black;
}

.gridcell {
    outline: 1px solid cyan;
    background-color: blue;
}
button {
    margin: 10px 0px 10px 0px;
}